.menu {
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: black;
    color: rgb(201, 156, 243);

}
body {
    background-color: black;
    color: rgb(201, 156, 243);
}
.grid {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;

}

.grid img {
    border: 2px solid rgb(201, 156, 243);

}

.origami {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);

    width: 310px;
    font-family: fantasy;
}